<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<ul th:fragment="admin" class="navbar-nav">
		<li class="nav-item">
			<a th:href="@{/admin/member}" th:classappend="${active eq 'members'} ? 'active' : ''" class="nav-link">
				<i class="bi bi-people"></i> Members
			</a>
		</li>
		<li class="nav-item">
			<a th:href="@{/admin/access/logs}" th:classappend="${active eq 'access'} ? 'active' : ''" class="nav-link">
				<i class="bi bi-check-all"></i> Access Logs
			</a>
		</li>
		<li class="nav-item">
			<a th:href="@{/admin/error/logs}" th:classappend="${active eq 'error'} ? 'active' : ''" class="nav-link">
				<i class="bi bi-bug"></i> Error Logs
			</a>
		</li>
		<li class="nav-item">
			<a href="/" class="nav-link">
				<i class="bi bi-lock"></i> Sign Out
			</a>
		</li>
	</ul>

	<ul th:fragment="member" class="navbar-nav">
		<!-- Home -->
		<li class="nav-item">
			<a th:href="@{/member/home}" th:classappend="${active eq 'home'} ? 'active' : ''" class="nav-link">
				<i class="bi bi-house"></i> Member Home
			</a>
		</li>
		
		<!-- Ledger Management -->
		<li class="nav-item">
			<a th:href="@{/manager/ledger}" th:classappend="${active eq 'ledger'} ? 'active' : ''" class="nav-link">
				<i class="bi bi-tags"></i> Ledgers
			</a>
		</li>
		
		<!-- Employee Management -->
		<li class="nav-item">
			<a th:href="@{/manager/employee}" th:classappend="${active eq 'employee'} ? 'active' : ''" class="nav-link">
				<i class="bi bi-people"></i> Employees
			</a>
		</li>
		
		<!-- User Menus -->
		<li class="nav-item dropdown">
			<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
				<i class="bi bi-person"></i> User Name
			</a>
			
			<ul class="dropdown-menu dropdown-menu-end">
				<li>
					<a id="changePassBtn" class="dropdown-item">
						<i class="bi bi-shield"></i> Change Password
					</a>
				</li>
				<li>
					<a href="/" class="dropdown-item">
						<i class="bi bi-lock"></i> Sign Out
					</a>
				</li>
			</ul>
		</li>
	</ul>

	
	<div th:fragment="project-sub-menu" class="same-with-btns">
		<a th:href="@{|/employee/project/${project}|}" class="btn" th:classappend="${active eq 'projectHome'} ? 'btn-dark' : 'btn-outline-dark'">
			<i class="bi-house"></i> Home
		</a>			
		<a th:href="@{|/employee/transaction/${project}/Credit|}" class="btn" th:classappend="${active eq 'projectCredit'} ? 'btn-dark' : 'btn-outline-dark'">
			<i class="bi-arrow-up-square"></i> Credit
		</a>			
		<a th:href="@{|/employee/transaction/${project}/Debit|}" class="btn" th:classappend="${active eq 'projectDebit'} ? 'btn-dark' : 'btn-outline-dark'">
			<i class="bi-arrow-down-square"></i> Debit
		</a>			
		<a th:href="@{|/employee/reports/${project}|}" class="btn" th:classappend="${active eq 'projectReport'} ? 'btn-dark' : 'btn-outline-dark'">
			<i class="bi bi-bar-chart"></i> Report
		</a>	
	</div>
	
</body>
</html>