<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="mainLayout(title, content)">
<head>
<meta charset="UTF-8">
<title>Thymeleaf | [[${title}]]</title>

<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="../../static/bootstrap/css/bootstrap.min.css" />
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>
<body>

	<div th:replace="~{/fragments/navbar :: mainNav}"></div>
	
	<div class="container mt-4" th:insert="${content}"></div>


</body>
</html>