<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hello Thymeleaf</title>


<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css" />
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
	
	<div class="container mt-4">
		<h1 th:text="'Hello Thymeleaf'">Hello Spring MVC</h1>
		
		<div th:utext="|Message is ${message}|"></div>
		
		<div>[[${message}]]</div>
		
		<div>[(${message})]</div>
		
		<table class="table table-striped">
			
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Burmese</th>
					<th>Capital</th>
					<th>Region</th>
				</tr>
			</thead>
			
			<tbody>
			
				<tr th:each="item : ${list}" th:object="${item}">
					<td th:text="*{id}">ID</td>
					<td th:text="*{name}">Name</td>
					<td th:text="*{burmese}">Burmese</td>
					<td th:text="*{capital}">Capital</td>
					<td th:text="*{region}">Region</td>
				</tr>
				
			</tbody>
		</table>
	
	</div>

</body>
</html>