<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/fragments/common :: layout(content = ~{::main}, title = 'Member Home', active = 'home', menu = ~{/fragments/navigations :: member})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<main>
		<div class="d-flex justify-content-between align-items-center">
			<div th:replace="~{/fragments/components :: pageTitle(title = 'Project Home', icon = 'bi-clipboard-check')}"></div>
		</div>
		
		<!-- Project Information -->
		
		<!-- Project Member -->
		
		<!-- Summary Informations -->
		
		<!-- Sub Menus for Project -->
	
	</main>	

</body>
</html>